
.project-list {
  /* border: 5px solid purple; */
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 980px;
  height: 500px;
  margin-left: auto;
  margin-right: 150px;
  margin-top: 5px;
}

/* .nav-bar {
  width: 100%;
  height: 50px;
  border: 2px solid black;
}

.projects {
  font-family: monospace;
  font-size: 20px;
} */
