.App {
  text-align: center;
}

.nav-bar2 {
  width: 100%;
  height: 230px;
  /* background-color: grey; */
  background:url('/images/teqskills.png');
  /* border: 1px solid black; */
}

.side-bar {
  width: 250px;
  float: left;
  /* border-right: 1px solid black; */
  height: 300px;
}

.projects {
  /* margin-left: 13%; */
  overflow: hidden;
}

.title {
  color: grey;
  font-family: roboto;
  font-size: 35px;
  background-color: lightblue;
}

.profile-img {
  width: 200px;
  margin: auto;
  margin-top: 25px;

}

.profile-img img {
  width: 100%;
  border: 5px solid lightblue;
}
