.App {
  width: 100%;
  height: 900px;
  background: #e09f50;
  /* border: 5px solid pink; */
}

.content {
  width: 100%;
  height: 900px;
  /* border: 5px solid green; */
}

.nav-bar {
  width: 100%;
  height: 250px;
  /* border: 5px solid blue; */
}

.projects {
  display: flex;
  flex-flow: column;
  float: left;
  width: 100%;
  height: 630px;
  margin-bottom: 400px;
  margin-top: auto;
  /* border: 5px solid brown; */
}

/* .side-bar {
  width: 280px;
  float: left;
  border: 5px solid orange;
} */

.profile-img img{
  /* border: 5px solid gold; */
  height: 220px;
  width: 180px;
  margin-top: 40px;
  margin-left: 40px;
  /* border: 5px solid grey; */
}

.title {
  margin-top: 20px;
  margin-left: 30px;
}

.linkedin {
  margin-top: 20px;
  margin-left: 30px;
}

.about {
  width: 250px;
  height: 230px;
  text-align: left;
  /* border: 4px solid lightblue; */
  display: flex;
  flex-direction:row;
  margin-top: 10px;
  margin-left: 30px;

}
